<%= form_with(model: webhook_action, local: true) do |form| %>
  <% if webhook_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webhook_action.errors.count, "error") %> prohibited this webhook_action from being saved:</h2>

      <ul>
      <% webhook_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :script_type %>
    <%= form.text_field :script_type %>
  </div>

  <div class="field">
    <%= form.label :script %>
    <%= form.text_area :script %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
